<!-- PAGE HEADING: TEMPLATE  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Learner Checklist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

<!--  Nav Bar Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;500&family=Alegreya+Sans:ital,wght@1,700&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
<!-- Nav Bar Style Sheet  -->
  <link rel="stylesheet" href="/static/css/navBar.css">
  </head>  
  
  <body> 
<!-- END: PAGE HEADING: TEMPLATE  -->

<!-- NAVIGATION: TEMPLATE  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href={{url_for('index')}}>
      <img src="/static/img/logoGraph.png" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
      The Learner Checklist
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<!--       STUDENT DROPDOWN MENU -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('studentUnitChecklist')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learning Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Learning Dashboards:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('studentUnitChecklist')}}">Overall</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- dynamically create drop down menu -->
            {% for course in courses['subjects'] %}
              <li><a class="dropdown-item" href={{url_for('studentUnitChecklist')}}>{{course}}</a></li> 
            {% endfor %}
          </ul>
        </li>
<!--         END STUDENT DROPDOWN -->
<!--         TEACHING DROPDOWNS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('teacherUnitChecklist')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teaching Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2023:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">Overall</a></li>
            {% for teacherCourse in teacherCourses['2023'] %}
              <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">{{teacherCourse}}</a></li> 
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2024:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">Overall</a></li>
            {% for teacherCourse in teacherCourses['2024'] %}
              <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">{{teacherCourse}}</a></li> 
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END: NAVIGATION: TEMPLATE  -->



<div class="container px-4">
  <div class="row g-5 text-center">
      <div class="col-12">
    <h1 class="mt-5">Teacher View: Student Computer Science Dashboard</h1>
  </div>

<!--     Overall Progress Card -->
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card p-3" style="width: 28rem;">
        <img src="/static/img/mockups/donutExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Overall Course Progress</h5>
            <p class="card-text">Computer Science</p>
        </div>
      </div>
    </div>
<!--     END Overall progress card -->
<!--     Line chart Study  Card -->
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card p-3" style="width: 34rem;">
        <img src="/static/img/mockups/lineExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Study History</h5>
            <p class="card-text">Study progress over time</p>
        </div>
      </div>
    </div>
<!--   End line chart study card -->
    <!--     Overall Progress Card -->
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card p-3" style="width: 28rem;">
        <img src="/static/img/mockups/donutExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Unit 1 Progress</h5>
            <p class="card-text">Computer Science</p>
          <a href="#unit1Heading" class="btn btn-primary">Update Judgements</a>
        </div>
      </div>
    </div>
<!--     END Overall progress card -->
    <!--     Overall Progress Card -->
    <div class="col-lg-6 col-md-12 text-center">
      <div class="card p-3" style="width: 28rem;">
        <img src="/static/img/mockups/donutExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Unit 2 Progress</h5>
            <p class="card-text">Computer Science</p>
          <a href="#unit2Heading" class="btn btn-primary">Update Judgements</a>
        </div>
      </div>
    </div>
<!--     END Overall progress card -->
  </div>

<div class="row g-5">
  <div class="col-12">
    <h1 class="m-5" id="unit1Heading">Unit 1 Student Performance</h1>
  </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-left" scope="col">Topic</th>
            <th class="text-left" scope="col">Sub-Topic</th>
            <th class="text-center" scope="col">BB</th>
            <th class="text-center" scope="col">LS</th>
            <th class="text-center" scope="col">SB</th>
            <th class="text-center" scope="col">AM</th>
            <th class="text-center" scope="col">AM</th>
            <th class="text-center" scope="col">BM</th>
            <th class="text-center" scope="col">SM</th>
            <th class="text-center" scope="col">JS</th>
            <th class="text-center" scope="col">SS</th>
            <th class="text-center" scope="col">RS10</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS10</th>
            <th class="text-center" scope="col">MM</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS</th>
            <th class="text-center" scope="col">RS10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
      {% for mainCriteria in criteria %}
        <tr>
          <td class="text-center">{{loop.index}}</td>
          <td class="text-left">{{mainCriteria}}</td>
          <td class="text-left">some subcriteria </td>
          <td class="text-center" scope="col">BB</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-success text-white" scope="col">C</td>
            <td class="text-center bg-warning text-dark" scope="col">D</td>
            <td class="text-center bg-danger text-white" scope="col">E</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
            <td class="text-center bg-info text-white" scope="col">S</td>
        </tr>
      {% endfor %}
        </tbody>
      </table>
</div>
</div>
    

  <h1>testing list</h1>
{% for mainCriteria in criteria %}
  <p>{{mainCriteria}}</p>
    {% for subcriteria in criteria[mainCriteria] %}
    <ul>
      <li>{{subcriteria}}</li>
    </ul>  
  {% endfor %}
{% endfor %}

    
<!--     FOOTER -->
      <div class="mt-5 p-4 text-black text-center">
  <p><em>The Learner Checklist &copy;2023</em></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>    



