/* Nav Bar Company Font */
.nav-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Source Serif Pro', serif;
}
.header-image {
  background-color: #817E9F;
}

.header-title{
  padding-top: 4rem;
	color: white;
	font-size: 4rem;
	text-align: center;
}