/* Nav Bar Company Font */
.nav-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-family: 'Source Serif Pro', serif;
}
.header-image {
  background-image: url(/static/img/pexels-pixabay-433333.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
	height: 15rem;
}

.header-title{
  padding-top: 4rem;
	color: white;
	font-size: 4rem;
	text-align: center;
}