<!-- PAGE HEADING: TEMPLATE  -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Learner Checklist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

<!--  Nav Bar Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;500&family=Alegreya+Sans:ital,wght@1,700&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
<!-- Nav Bar Style Sheet  -->
  <link rel="stylesheet" href="/static/css/navBar.css">
  </head>  
  
  <body> 
<!-- END: PAGE HEADING: TEMPLATE  -->

<!-- NAVIGATION: TEMPLATE  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href={{url_for('index')}}>
      <img src="/static/img/logoGraph.png" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
      The Learner Checklist
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<!--       STUDENT DROPDOWN MENU -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('studentUnitChecklist')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learning Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Learning Dashboards:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('studentUnitChecklist')}}">Overall</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- dynamically create drop down menu -->
            {% for course in courses['subjects'] %}
              <li><a class="dropdown-item" href={{url_for('studentUnitChecklist')}}>{{course}}</a></li> 
            {% endfor %}
          </ul>
        </li>
<!--         END STUDENT DROPDOWN -->
<!--         TEACHING DROPDOWNS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('teacherUnitChecklist')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teaching Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2023:</a>
            </li>
            <li><a class="dropdown-item" href="#">Overall</a></li>
            {% for teacherCourse in teacherCourses['2023'] %}
              <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">{{teacherCourse}}</a></li> 
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2024:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">Overall</a></li>
            {% for teacherCourse in teacherCourses['2024'] %}
              <li><a class="dropdown-item" href="#">{{teacherCourse}}</a></li> 
            {% endfor %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- END: NAVIGATION: TEMPLATE  -->



<div class="container px-4">
  <div class="row g-5 text-center">
      <div class="col-12">
    <h1 class="mt-5">UX EXAMPLES</h1>
  </div>

<div class="row g-5 table-responsive">
  <div class="col-12">
    <h1 class="m-5 " id="unit2Heading">Unit 2 Checklist</h1>
  </div>
{% for mainCriteria in criteria %}
  <h1>{{mainCriteria}}</h1>

  <table class="table table-bordered table-hover table-sm">
      <thead class="table-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Topic</th>
          <th scope="col">Judgement</th>
          <th scope="col">Last Studied</th>
        </tr>
      </thead>
    <tbody class="table-group-divider">
    {% for subcriteria in criteria[mainCriteria] %}
        <tr>
          <th scope="row align-middle">{{loop.index}}</th>
          <td class="text-start w-50 align-middle">{{subcriteria}}</td>
          <td class="text-center w-25 align-middle"><div class="btn-group text-center" data-toggle="buttons">
              {% for judgement in options['judgement'] %}
                  {% if judgement != 'Not Covered' %}
                    {% if judgement == 'Emerging' %}
                    <label class="btn btn-danger btn-sm">
                    <input type="radio" name="{{subcriteria}}" id="{{subcriteria}}{{loop.index}}">{{judgement}}</label>
                    {% elif judgement == 'Developing' %}
                    <label class="btn btn-warning btn-sm">
                    <input type="radio" name="{{subcriteria}}" id="{{subcriteria}}{{loop.index}}">{{judgement}}</label>
                    {% elif judgement == 'Consolidating' %}
                    <label class="btn btn-success btn-sm">
                    <input type="radio" name="{{subcriteria}}" id="{{subcriteria}}{{loop.index}}">{{judgement}}</label>   
                    {% elif judgement == 'Secure' %}
                    <label class="btn btn-info btn-sm">
                    <input type="radio" name="{{subcriteria}}" id="{{subcriteria}}{{loop.index}}">{{judgement}}</label>
                    {% endif %}
                {% endif %}
              {% endfor %}
          </td>
          <td class="text-center align-middle">+23 days</td>
        </tr>
  {% endfor %}
      </tbody>
    </table>
{% endfor %}
      
</div>



    
<!--     FOOTER -->
      <div class="mt-5 p-4 text-black text-center">
  <p><em>The Learner Checklist &copy;2023</em></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>    



