<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

<!--  Nav Bar Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;500&family=Alegreya+Sans:ital,wght@1,700&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
<!-- Nav Bar Style Sheet  -->
  <link rel="stylesheet" href="/static/css/navBar.css">
  </head>  
  
  <body>  
    
    
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href="#">
      <img src="/static/img/logoGraph.png" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
      The Learner Checklist
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<!--       STUDENT DROPDOWN MENU -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Learning Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Learning Dashboards:</a>
            </li>
            <li><a class="dropdown-item" href="#">Overall</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Computer Science</a></li>
            <li><a class="dropdown-item" href="#">Geography</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
            <li><a class="dropdown-item" href="#">Science</a></li>
            <li><a class="dropdown-item" href="#">Maths</a></li>
            <li><a class="dropdown-item" href="#">English</a></li>
            <li><a class="dropdown-item" href="#">Art</a></li>
            <li><a class="dropdown-item" href="#">Technology</a></li>
            <li><a class="dropdown-item" href="#">iMedia</a></li>
            <li><a class="dropdown-item" href="#">French </a></li>
          </ul>
        </li>
<!--         END STUDENT DROPDOWN -->
<!--         TEACHING DROPDOWNS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Teaching Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2023:</a>
            </li>
            <li><a class="dropdown-item" href="#">Overall</a></li>
            <li><a class="dropdown-item" href="#">GCSE Computer Science</a></li>
            <li><a class="dropdown-item" href="#">L2 iMedia</a></li>
            <li><a class="dropdown-item" href="#">A level Computer Science</a></li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2024:</a>
            </li>
            <li><a class="dropdown-item" href="#">Overall</a></li>
            <li><a class="dropdown-item" href="#">GCSE Computer Science</a></li>
            <li><a class="dropdown-item" href="#">L2 iMedia</a></li>
            <li><a class="dropdown-item" href="#">CTEC IT</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container text-center">
  <div class="row">
      <h1>Student Overall Dashboard</h1>

<!--     Overall Progress Card -->
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="/static/img/mockups/donutExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Overall Progress</h5>
            <p class="card-text">Personal understanding across all subjects</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
<!--     END Overall progress card -->
<!--     Line chart Study  Card -->
    <div class="col-md-6 col-sm-12">
      <div class="card" style="width: 18rem;">
        <img src="/static/img/mockups/lineExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Study History</h5>
            <p class="card-text">Study progress over time</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
<!--   End line chart study card -->
  </div>

  <div class="row">
  <h1>Student Courses</h1>
    
<!--     START COURSE CARDS -->
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Computer science</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Computer science</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Computer science</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Computer science</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Dashboard</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">English</h5>
          <p class="card-text">GCSE</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>

<!--     END COURSE CARDS -->
</div>

  
</div>



<!-- OLD CONTENT TESTING -->
<h1>OLD CONTENT TESTING</h1>
    
    <h1>Hello {{company}}</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Topic</th>
      <th scope="col">Sub-Topic</th>
      <th scope="col">Judgement</th>
      <th scope="col">Last Studied</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Algorithms</td>
      <td>Trees</td>
      <td>
         <div class="btn-group" data-toggle="buttons">
{% for judgement in options['judgement'] %}
        {% if judgement != 'Not Covered' %}
        <label class="btn btn-warning btn-sm">
        <input type="radio" name="options" id="option1">{{judgement}}</label> 
        {% endif %}
      {% endfor %}
        </div>
      </td>
      <td>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm">
        <input type="radio" name="options" id="option1">Not Studied</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
</div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Algorithms</td>
      <td>Graphs</td>
      <td>
         <div class="btn-group" data-toggle="buttons">
{% for judgement in options['judgement'] %}
        {% if judgement != 'Not Covered' %}
        <label class="btn btn-warning btn-sm">
        <input type="radio" name="options" id="option1">{{judgement}}</label> 
        {% endif %}
      {% endfor %}
        </div>
      </td>
      <td>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm">
        <input type="radio" name="options" id="option1">Not Studied</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
</div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Algorithms</td>
      <td>Dijkstras</td>
      <td>
         <div class="btn-group" data-toggle="buttons">
{% for judgement in options['judgement'] %}
        {% if judgement != 'Not Covered' %}
        <label class="btn btn-outline-success btn-sm">
        <input type="radio" name="options" id="option1">{{judgement}}</label> 
        {% endif %}
      {% endfor %}
        </div>
      </td>
      <td>
        <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-secondary btn-sm">
        <input type="radio" name="options" id="option1">Not Studied</label>
<input type="datetime-local" id="meeting-time"
       name="meeting-time" value="2018-06-12T19:30"
       min="2018-06-07T00:00" max="2018-06-14T00:00">
</div>
      </td>
    </tr>
  </tbody>
</table>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>