<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Learner Checklist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>

<!--  Nav Bar Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;500&family=Alegreya+Sans:ital,wght@1,700&family=Source+Serif+Pro:wght@200&display=swap" rel="stylesheet">
<!-- Nav Bar Style Sheet  -->
  <link rel="stylesheet" href="/static/css/navBar.css">
  </head>  
  
  <body>  

<!-- NAVIGATION: TEMPLATE  -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand nav-title" href={{url_for('index')}}>
      <img src="/static/img/logoGraph.png" alt="Bootstrap" width="30" height="24" class="d-inline-block align-text-top">
      The Learner Checklist
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
<!--       STUDENT DROPDOWN MENU -->
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
</svg>
            Learning Dashboards
          </a>
          
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Learning Dashboards:</a>
            </li>
            <li><a class="dropdown-item" href="#">Overall</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- dynamically create drop down menu -->
            {% for course in courses %}
              <li><a class="dropdown-item" href={{url_for('studentUnitChecklist')}}>{{course["course_name"]}} {{course["course_board"]}} {{course["course_level"]}}</a></li> 
            {% endfor %}
          </ul>
        </li>
<!--         END STUDENT DROPDOWN -->
<!--         TEACHING DROPDOWNS -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="{{url_for('teacherUnitChecklist')}}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-data" viewBox="0 0 16 16">
  <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
  <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
  <path d="M10 7a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 0-1 1v3a1 1 0 1 0 2 0V9a1 1 0 0 0-1-1Z"/>
</svg>Teaching Dashboards
          </a>
          <ul class="dropdown-menu">
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2023:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">Overall</a></li>
            {% for teacherCourse in teacherCourses['2023'] %}
              <li><a class="dropdown-item" href="#">{{teacherCourse}}</a></li> 
            {% endfor %}
            <li><hr class="dropdown-divider"></li>
            <li class="nav-item">
              <a class="nav-link disabled">Exam 2024:</a>
            </li>
            <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">Overall</a></li>
            {% for teacherCourse in teacherCourses['2024'] %}
              <li><a class="dropdown-item" href="{{url_for('teacherUnitChecklist')}}">{{teacherCourse}}</a></li> 
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('uxExamples')}}">UX Examples</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container px-4 text-center">
  <div class="row g-5">
      <div class="col-12">
    <h1 class="mt-5">Student Overall Dashboard</h1>
  </div>

<!--     Overall Progress Card -->
    <div class="col-lg-6 col-md-12">
      <div class="card p-3" style="width: 28rem;">
        <img src="/static/img/mockups/donutExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Overall Progress</h5>
            <p class="card-text">Understanding across all subjects</p>
        </div>
      </div>
    </div>
<!--     END Overall progress card -->
<!--     Line chart Study  Card -->
    <div class="col-lg-6 col-md-12">
      <div class="card p-3" style="width: 34rem;">
        <img src="/static/img/mockups/lineExample.png" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">Study History</h5>
            <p class="card-text">Study progress over time</p>
        </div>
      </div>
    </div>
<!--   End line chart study card -->
  </div>

  <div class="row g-5">
  <div class="col-12">
    <h1 class="mt-5">Student Courses</h1>
  </div>
<!--     START COURSE CARDS -->
    {% for course in courses %}
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card p-3">
                  <div class="card-body">
                    <h5 class="card-title">{{course['course_name']}}</h5>
                    <p class="card-text">{{course["course_level"]}}</p>
                    <a href="{{url_for('studentUnitChecklist')}}" class="btn btn-primary">Dashboard</a>
                  </div>
                </div>
              </div> 
            {% endfor %}

<!--     END COURSE CARDS -->
</div>
</div>

<!--     FOOTER -->
      <div class="mt-5 p-4 text-black text-center">
  <p><em>The Learner Checklist &copy;2023</em></p>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
  </body>
</html>